<div class="container">
  <h2 class="text-right pt-4">Contact Us</h2>
  <div class="contact-us">
    <span class="touch">Lets get in touch</span>

    <form (ngSubmit)="submitForm()">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" [(ngModel)]="contact.name" required>
      </div>

      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" [(ngModel)]="contact.email" required>
      </div>

      <div class="form-group">
        <label for="phone">Phone:</label>
        <input type="tel" id="phone" name="phone" [(ngModel)]="contact.phone" required>
      </div>

      <div class="form-group">
        <label for="comment">Comment:</label>
        <textarea id="comment" name="comment" [(ngModel)]="contact.comment" required></textarea>
      </div>

      <button type="submit">Send</button>
    </form>
  </div>

</div>
