.container {
  font-family: 'Nunito', sans-serif;
}

.card {
  border-radius: 15px;
  box-shadow: 0 8px 16px #c5fdff;
  margin-bottom: 40px;
  overflow: hidden;
  transition: transform 0.3s;
  text-align: center;
  position: relative;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  width: 100px;
  height: 100px;
  margin: 20px auto;
}

.card-body {
  padding: 0px 20px 20px 20px;
}

h5 {
  margin: 20px 0 10px 0;
  font-size: 1.5em;
  color: #2E2A39;
  font-weight: bold;
}

.product-card {
  padding: 20px;
}

.product-card img {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.product-details {
  padding: 1rem;
}

.product-details h2 {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.product-details p {
  color: #666;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
  margin-top: 30px;
}

h2 {
  font-size: 20px;
  color: #007bff;
  margin-top: 10px;
}

p {
  font-size: 16px;
  margin-top: 10px;
  color: #2E2A39BF;
}

.custom-text {
  padding: 20px;
  background-color: #5CE1E6;
  color: #2E2A39;
  font-size: 1.2em;
  border-radius: 10px;
  width: 70%;
  margin: 20px auto;
  text-align: center;
}