<div class="container">
  <h1 class="text-center pt-4 hide">Vorbestellungen jetzt möglich!</h1>
  <span class="sub-title hide" style="display: flex;justify-content: center">Sichere dir deine Routime Wanduhr und
    erleichtere deinen Tagesablauf.</span>
  <div class="custom-text hide">
    <p>Wir entwickeln uns stetig weiter! Freue dich auf regelmäßige Updates und neue Funktionen, die deine Routime
      Wanduhr immer besser machen.</p>
  </div>
  <span class="before-facts hide" style="display: flex;justify-content: center; margin-bottom: 20px;">Sichere dir deine
    Routime Uhr jetzt durch eine Vorbestellung und profitiere von
    exklusiven Vorteilen!</span>
</div>
<div class="products-container">
  <div class="product mt-5">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <a href="/product-images">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="assets/images/Produkt1.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="assets/images/Produkt2.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="assets/images/Produkt3.jpg" alt="Third slide">
                </div>
              </a>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <svg class="custom-carousel-icon" width="40" height="40" viewBox="0 0 24 24" fill="#000000">
                <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
              </svg>

            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <svg class="custom-carousel-icon" width="40" height="40" viewBox="0 0 24 24" fill="#000000">
                <path d="M8.59 16.59L10 18l6-6-6-6-1.41 1.41L13.17 12z" />
              </svg>
            </a>
          </div>
        </div>
        <div class="col-lg-6">
          <h1 class="fw-bold hide">Die smarte Kinderwanduhr für einen strukturierten Familienalltag</h1>
          <p class="fs-5 text-secondary hide">149 € UVP - Jetzt mit 20% Vorbestellungsrabatt!</p>
          <p class="fs-5 text-secondary hide">119 € Vorbestellangebot</p>
          <button class="btn btn-primary px-4 py-2 rounded-3 border-0 hide" style="background-color: #FFE990;"><a
              style="text-decoration: none;color: black; font-weight: bold;"
              href="https://a1c34f-2.myshopify.com/">JETZT
              VORBESTELLEN <span class="ms-2" style="font-weight: bold; font-size: 20px;">></span></a></button>
          <p class="text-secondary mt-3 hide" style="font-size: 16px;">Routime ist die erste smarte Kinderwanduhr,
            speziell
            entwickelt, um den Alltag von Familien harmonischer und strukturierter zu gestalten. Unsere Uhr ist mehr
            als ein
            einfacher Zeitmesser; sie ist ein innovatives Tool, das hilft, den Tag besser zu organisieren und die
            Selbstständigkeit von Kindern zu fördern.</p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-6">
          <div class="card hide">
            <img class="card-img-top" src="assets/images/quantity-icon.svg" alt="">
            <div class="card-body">
              <h5>Limitierte Stückzahl</h5>
              <p>Wir sind ein Startup und können nur eine begrenzte Anzahl von Uhren produzieren. Mit einer
                Vorbestellung sicherst du dir eine der ersten einzigartigen Routime Uhren.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card hide">
            <img class="card-img-top" src="assets/images/influence-final.svg" alt="">
            <div class="card-body">
              <h5>Einfluss auf zukünftige Entwicklungen:</h5>
              <p>Wir hören auf unsere Kunden. Als einer der ersten Nutzer hast du die Möglichkeit, uns Feedback
                zu geben, das direkt in die Weiterentwicklung der Routime Uhr einfließt.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card hide">
            <img class="card-img-top" src="assets/images/discount-icon.svg" alt="">
            <div class="card-body">
              <h5>10% Preisnachlass</h5>
              <p>Alle Vorbestellungen erhalten einen exklusiven Nachlass von 10% auf den regulären Preis.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card hide">
            <img class="card-img-top" src="assets/images/security.svg" alt="">
            <div class="card-body">
              <h5>Sicherheit und Transparenz:</h5>
              <p>Sollten wir das Produkt wider Erwarten nicht ausliefern können, garantieren wir die vollständige
                Rückerstattung des Kaufpreises.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
