.logo {
  width: 100%;
  padding: 0 50px 0 50px;
  margin-top: 100px;
}

.home-background {
  background-color: #d4f9fb;
  height: 100vh;
}

.title-container {
  display: flex;
  flex-direction: column;

  h2 {
    margin-top: 20px;
    font-size: 48px;
    text-align: center;
    color: black;
    padding: 20px 0;
    text-transform: uppercase;
    /* Uppercase text */
    letter-spacing: 2px;
    /* Increased letter spacing */
    border-radius: 10px;
    box-shadow: 3px 20px 5px #888;
  }
}

.preorder-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 50px;
}

.sub-title {
  display: block;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.facts {
  text-align: left;
  margin-top: 30px;
}

.facts span {
  display: block;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.about-us {
  h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: #5CE1E6;
  }

  h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
  }

  p {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #2E2A39BF;
  }

  span {
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    color: #2E2A39BF;
    font-weight: bold;
  }
}

.faq {
  background-color: #FFE990;
}

.contact {
  background-color: #d4f9fb;
}

.description {
  font-family: 'Nunito', sans-serif;

  .container {
    border-top: 10px dashed #FFDE59;
    border-bottom: 10px dashed #FFDE59;
  }

  h2 {
    font-weight: bold;
    color: #5CE1E6;
  }

  p,
  ol {
    color: #2E2A39BF;
  }
}

.use {
  font-family: 'Nunito', sans-serif;

  .container {
    border-top: 10px dashed #5CE1E6;
    border-bottom: 10px dashed #5CE1E6;

    .custom-list {
      list-style-type: none;
      padding: 0;
    }

    h2 {
      color: #ebbe0f;
      font-weight: bold;
    }

    h4 {
      color: #4ebfc3;
      font-weight: bold;
    }

    ul {
      color: #2E2A39BF;
    }
  }
}