<div class="home-background">
  <img class="logo" src="assets/images/logo copy.svg">
</div>
<div class="description mt-5 mb-5">
  <div class="container">
    <div class="row mt-5 mb-5">
      <div class="col-md-4">
        <h2>Willkommen bei Routime !</h2>
        <p>Studien belegen: Routinen und ein strukturierter Tagesablauf sind das A und O für mehr Harmonie in der
          Familie! Routime ist die erste smarte Kinderwanduhr, die spielerisch den Alltag erleichtert. Unser Alltag ist
          oft vollgestopft mit Terminen, Aufgaben und Verpflichtungen. Routime ist die erste smarte Wanduhr, die der
          gesamten Familie hilft, den Tagesablauf entspannter wahrzunehmen. Mit Routime werdet ihr einfach daran
          erinnert, was als Nächstes ansteht. So kann sichergestellt werden, dass der vorgenommene optimale Plan
          eingehalten wird. Und die Kinder lernen Selbstständigkeit in den Routineaktivitäten.</p>
      </div>
      <div class="col-md-4">
        <h2>Was kann Routime ?</h2>
        <p>Mit der kostenlosen Routime App plant ihr über einfache Vorlagen den optimalen Tagesablauf, beispielsweise
          für Morgen- und Abendroutine. Dann erinnert die Wanduhr über den integrierten Lautsprecher an die anstehenden
          Ereignisse und Aufgaben. (2 Videos welche auf Youtube hochgeladen werden, von Uhr Knöpfen und Kinder wie sie
          drücken)</p>
      </div>
      <div class="col-md-4">
        <h2>Wie funktioniert Routime ?</h2>
        <ol>
          <li>Gemeinsam als Familie den Tagesablauf planen</li>
          <li>Die geplanten Aktivitäten und Zeitpunkte in der Routime App eingeben</li>
          <li>Den Plan via Bluetooth an die Wanduhr senden</li>
          <li>Routime erinnert automatisch über den integrierten Lautsprecher an die anstehenden Ereignisse</li>
          <li>Über einen Knopf an der Wand unter der Uhr können Kinder jederzeit die aktuelle Uhrzeit und das nächste
            Tagesereignis abfragen</li>
        </ol>
        <p>Als besonderes Extra könnt ihr in der App positive Affirmationen auswählen, die die Uhr bei Knopfdruck in
          Momenten ausspricht, wenn kein Tagesereignis ansteht – zum Beispiel "Du bist wertvoll" oder "Du hast eine
          tolle Familie". Trödeln hat nun keine Chance mehr – mit Routime verliert ihr die Zeit nicht mehr aus den
          Augen!</p>
      </div>
    </div>
  </div>
</div>
<div class="container pt-5 pb-5">
  <div class="row">
    <div class="col-lg-6">
      <img class="img-fluid" src="assets/images/logo.svg" alt="">
    </div>
    <div class="col-lg-6">
      <h1 class="fw-bold">Product Title</h1>
      <p class="fs-5 text-secondary">$140 EUR</p>
      <p class="fs-5 text-secondary">Options</p>
      <div class="d-flex flex-wrap">
        <div class="bg-info text-white px-3 py-2 me-3 mb-3 rounded">Red</div>
        <div class="bg-info text-white px-3 py-2 me-3 mb-3 rounded">Blue</div>
        <div class="bg-info text-white px-3 py-2 me-3 mb-3 rounded">Black</div>
        <div class="bg-info text-white px-3 py-2 me-3 mb-3 rounded">White</div>
      </div>
      <p class="text-secondary">any sale or fact</p>
      <button class="btn btn-primary px-4 py-2 rounded-3 border-0" style="background-color: #5CE1E6;">Buy Now!</button>
      <p class="text-secondary mt-3" style="font-size: 12px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Accusamus animi culpa explicabo impedit ipsam, maxime perferendis quidem voluptatibus! Ad at, beatae commodi est
        expedita iusto nihil obcaecati velit voluptatibus voluptatum. Architecto aut, cupiditate delectus ducimus eaque
        fugiat hic iste iure, labore laudantium maxime nihil nostrum numquam perspiciatis provident, quaerat quasi
        quisquam tempore vitae voluptatibus? Aperiam harum nam qui temporibus voluptates? Alias aspernatur, consequatur
        cum esse est, excepturi ipsum nihil non quae sapiente ullam vero vitae? Asperiores assumenda, autem commodi
        deserunt dolorum eum ex hic inventore mollitia officiis possimus similique, tempora.</p>
    </div>
  </div>
</div>
<div class="use mb-5">
  <div class="container">
    <div class="row justify-content-center mt-4 mb-4">
      <div class="col-md-6">
        <h2 class="mb-3">Vorteile und Nutzen</h2>
        <h4>Für die Eltern:</h4>
        <ul class="custom-list">
          <li>Zeitersparnis und Struktur im Alltag</li>
          <li>Erleichterte Kommunikation innerhalb der Familie</li>
          <li>Steigerung der Effizienz bei Alltagsaufgaben</li>
        </ul>
        <h4>Für die Kinder:</h4>
        <ul class="custom-list">
          <li>Förderung der Selbstständigkeit</li>
          <li>Erlernen von Zeitmanagement</li>
          <li>Tägliche, positive Affirmationen für ein stärkeres Selbstwertgefühl</li>
        </ul>
        <h4>Produktvorteile:</h4>
        <ul class="custom-list">
          <li>1 Jahr Tauschaktion ab Kaufdatum mit neuer Hardware, bei Hardware-Upgrade</li>
          <li>Pädagogisches Lernziffernblatt</li>
          <li>30-Tage Rückgaberecht</li>
          <li>Reparaturservice</li>
          <li>Keine Strahlung durch WLAN oder ähnliches</li>
          <li>Keine Aufnahmefunktion für erhöhte Sicherheit</li>
          <li>Zukunftssicher durch Updates: Wir planen regelmäßige Updates, die einfach und bequem über die Routime-App
            installiert werden können. So bleibt deine Routime Wanduhr immer auf dem neuesten Stand.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="faq p-5">
  <app-faq></app-faq>
</div>
<div class="about-us">
  <div class="container pt-5 pb-5">
    <h1 class="text-center">UNSERE GESICHTE</h1>
    <div class="row">
      <div class="col-md-6 mt-4">
        <img src="" alt="" class="img-fluid mb-3 mb-md-0" style="max-width: 100%;">
      </div>
      <div class="col-md-6 mt-4">
        <span>ROUTIME</span>
        <h3>Teuta Avdyli</h3>
        <p>
          Hallo, ich bin Teuta Avdyli, die Gründerin von Routime. Ich glaube fest daran, dass Struktur im Alltag
          eine wichtige Grundlage für ein ausgeglichenes Leben ist. Mit Routime habe ich ein Werkzeug entwickelt,
          das dir und deiner Familie dabei hilft, den Alltag besser zu organisieren und zu strukturieren. <br><br>
          Als Mutter von zwei Kindern weiß ich aus eigener Erfahrung, wie herausfordernd und stressig der
          Familienalltag sein kann. Diese Herausforderungen haben mich dazu motiviert, Routime zu schaffen. Durch
          die Implementierung von Routime in meinem eigenen Zuhause konnte ich feststellen, dass unser
          Familienleben dadurch strukturierter und harmonischer geworden ist. Zum Beispiel dehnen wir uns jetzt
          als Familie immer nach dem Aufstehen. <br><br>
          Es ist ein kleiner, aber wichtiger Schritt in Richtung eines gesünderen und glücklicheren Lebens.
          Letztendlich besteht unser Leben aus Gewohnheiten, und es liegt in
          unserer eigenen Verantwortung, welche Gewohnheiten wir in unser Leben und das unserer Familie
          integrieren möchten. Mit Routime möchte ich euch ein Werkzeug an die Hand geben, das den Aufbau
          positiver Gewohnheiten fördert und den Alltag erleichtert.
        </p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-6">
        <span>WIR SIND ROUTIME</span>
        <h3>Arber Avdulji</h3>
        <p>
          Hallo, ich bin Arber Avdulji, Mitgründer und CTO von Routime. Als Student im technischen Bereich war ich
          immer fasziniert von der Möglichkeit, das Leben durch innovative Technologien einfacher zu gestalten.
          Als ich sah, wie stressig der Alltag meiner Schwester Teuta mit ihrer Familie sein kann, wusste ich,
          dass wir gemeinsam etwas Wertvolles schaffen können. <br><br>
          Eines meiner Hauptziele war es, ein sicheres
          Produkt für die ganze Familie zu entwickeln. Technologie kann ein zweischneidiges Schwert sein, und
          Sicherheit ist für uns bei Routime von höchster Bedeutung. Deshalb habe ich darauf geachtet, dass unsere
          smarte Wanduhr keine Aufnahmefunktionen hat oder sensiblen Daten sammelt. Ich habe die Technologie
          hinter Routime entwickelt, sowohl die Hardware als auch die Software, um sicherzustellen, dass sie nicht
          nur intuitiv, sondern auch zuverlässig und sicher ist. Es galt, eine Lösung zu finden, die den
          Familienalltag wirklich erleichtert und dabei auch noch Spaß macht. <br><br>
          Durch die Zusammenarbeit mit Teuta
          konnte ich sicherstellen, dass Routime technisch einwandfrei funktioniert und genau den Bedürfnissen
          einer Familie entspricht. Ich freue mich darauf, Routime weiterzuentwickeln und bin gespannt auf das
          Feedback, das uns dabei hilft, unser Produkt stetig zu verbessern.
        </p>
      </div>
      <div class="col-md-6 mt-4">
        <img src="" alt="" class="img-fluid" style="max-width: 100%;">
      </div>
    </div>
  </div>
</div>
<div class="contact pt-5 pb-5">
  <div class="container">
    <h1 class="text-center">Schreibe uns eine Nachricht !</h1>
    <form (ngSubmit)="submitForm()">
      <div class="row">
        <div class="col-md-6 form-group">
          <input type="text" class="form-control" placeholder="Name" id="name" name="name" [(ngModel)]="contact.name"
            required>
        </div>
        <div class="col-md-6 form-group">
          <input type="email" class="form-control" placeholder="E-Mail" id="email" name="email"
            [(ngModel)]="contact.email" required>
        </div>
      </div>

      <div class="form-group">
        <textarea class="form-control" placeholder="Kommentar" id="comment" name="comment" [(ngModel)]="contact.comment"
          required></textarea>
      </div>

      <button type="submit">Send</button>
    </form>
  </div>
</div>