<!--<div class="container">-->
<!--    <div class="products">-->
<!--        <div class="selected-products">-->
<!--            <img src="" alt="">-->
<!--        </div>-->
<!--        <div class="other-products">-->
<!--            <img src="" alt="">-->
<!--            <img src="" alt="">-->
<!--            <img src="" alt="">-->
<!--            <img src="" alt="">-->

<!--        </div>-->
<!--    </div>-->
<!--    <div class="product-info">-->
<!--        <span class="product-name">Product Title</span>-->
<!--        <span class="price">$100</span>-->
<!--        <span class="colors-title">Colors</span>-->
<!--        <div class="colors">-->
<!--            <div class="color">-->
<!--                Red-->
<!--            </div>-->
<!--            <div class="color">-->
<!--                Green-->
<!--            </div>-->
<!--            <div class="color">-->
<!--                Yellow-->
<!--            </div>-->
<!--            <div class="color">-->
<!--                Black-->
<!--            </div>-->
<!--        </div>-->
<!--        <span class="quantity-title">Quantity</span>-->
<!--        <div class="quantity-input">-->
<!--            <span>-</span>-->
<!--            <input type="number">-->
<!--            <span>+</span>-->
<!--        </div>-->
<!--        <button>Add to Cart</button>-->
<!--        <button>Checkout Now!!</button>-->
<!--        <p>-->
<!--            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus aspernatur consequuntur-->
<!--                cupiditate error eveniet facilis incidunt inventore itaque laboriosam, maxime minus neque numquam-->
<!--                praesentium quo repellendus sed totam voluptate.</span><span>Alias aspernatur incidunt iure neque nulla-->
<!--                vel veniam voluptatem? Aperiam blanditiis, cupiditate deleniti eaque error ex laudantium, maxime-->
<!--                nesciunt nihil nulla perspiciatis rem sit suscipit tempora voluptates! Dolores esse,-->
<!--                nostrum?</span><span>Dicta, excepturi vel. Ab aliquam dolor eum explicabo fuga fugit, ipsa maiores-->
<!--                mollitia obcaecati, officia optio tenetur totam ut. Aut autem commodi dolorem explicabo ratione saepe.-->
<!--                Error hic placeat quibusdam.</span><span>Ab adipisci animi aperiam architecto consectetur eius modi-->
<!--                natus officiis, perferendis quidem repellendus saepe vel? Ab blanditiis consequuntur ex labore nostrum?-->
<!--                Culpa cum facilis fugiat impedit laboriosam libero magnam saepe!</span><span>Cum dolore ex expedita-->
<!--                illum laudantium magnam numquam, optio praesentium quibusdam, quo repellat, reprehenderit. Dicta-->
<!--                doloribus facere illo incidunt laudantium libero natus quod rerum totam ut? Fugit perspiciatis provident-->
<!--                tenetur.</span><span>At earum id ipsa ipsum, itaque laborum nam nesciunt ut. Amet blanditiis dolore ea-->
<!--                ex harum illum nihil quasi voluptatem! Aliquid aut cum dolor expedita fugit illum nobis repellat-->
<!--                sit.</span><span>Adipisci excepturi expedita maiores necessitatibus sequi? Assumenda atque eos eveniet-->
<!--                magni maiores officiis quae tempore voluptatem? Aperiam fugiat ipsa mollitia quas. Asperiores culpa cum-->
<!--                expedita illo inventore reprehenderit sunt voluptatem!</span><span>Accusamus consequuntur cupiditate-->
<!--                doloremque eligendi eum exercitationem hic in incidunt iste laudantium minima modi natus neque provident-->
<!--                quaerat quasi quidem, rerum sint voluptas voluptatem. Eum exercitationem fugit quasi sequi-->
<!--                tempore.</span>-->
<!--        </p>-->
<!--    </div>-->
<!--</div>-->
<div class="featured-product">
  <div class="product-card">
    <img [src]="product.image" alt="{{product.name}}">
    <h2>{{product.name}}</h2>
    <p>{{product.description}}</p>
  </div>
</div>
