.logo {
  opacity: 0;
  transform: translateX(300px);
  transition: 550ms;
}

.home-background {
  background-color: #d4f9fb;
}

.title-container {
  display: flex;
  flex-direction: column;

  h2 {
    margin-top: 20px;
    font-size: 48px;
    text-align: center;
    color: black;
    padding: 20px 0;
    text-transform: uppercase;
    /* Uppercase text */
    letter-spacing: 2px;
    /* Increased letter spacing */
    border-radius: 10px;
    box-shadow: 3px 20px 5px #888;
  }
}

.preorder-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 50px;
}

.sub-title {
  display: block;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.facts {
  text-align: left;
  margin-top: 30px;
}

.facts span {
  display: block;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}