.logo {
  width: 100%;
  padding: 0 50px 0 50px;
  margin-top: 100px;
}

.home-background {
  background-color: #d4f9fb;
  height: 100vh;
}

.home-description {
  font-family: 'Nunito', sans-serif;
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
  color: #5CE1E6;
}

.title-container {
  display: flex;
  flex-direction: column;

  h2 {
    margin-top: 20px;
    font-size: 48px;
    text-align: center;
    color: black;
    padding: 20px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 10px;
    box-shadow: 3px 20px 5px #888;
  }
}

.preorder-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 50px;
}

.sub-title {
  display: block;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.facts {
  text-align: left;
  margin-top: 30px;
}

.facts span {
  display: block;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.about-us {
  h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: #5CE1E6;
  }

  h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
  }

  p {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #2E2A39BF;
  }

  span {
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    color: #2E2A39BF;
    font-weight: bold;
  }
}

.faq {
  background-color: #FFE990;
}

.contact {
  background-color: #d4f9fb;
  font-family: 'Nunito', sans-serif;

  .container {
    max-width: 900px;

    h1 {
      font-size: 50px;
      font-weight: bold;
      color: #f4cf3c;
    }

    .form-group {
      margin-bottom: 20px;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #f4cf3c;
      border-radius: 10px;
      font-size: 16px;
      background: transparent;
    }

    input[type="text"]::placeholder,
    input[type="email"]::placeholder,
    input[type="tel"]::placeholder,
    textarea::placeholder {
      color: #b29521;
    }

    textarea {
      height: 150px;
    }

    button {
      background-color: #FFDE59;
      color: #44b6ba;
      font-weight: bold;
      padding: 10px 100px;
      border: none;
      border-radius: 10px;
      font-size: 18px;
      cursor: pointer;
      transition: background-color 0.3s;
    }
  }
}

.description {
  font-family: 'Nunito', sans-serif;

  .container {
    border-top: 10px dashed #FFDE59;
    border-bottom: 10px dashed #FFDE59;
  }

  h2 {
    font-weight: bold;
    color: #5CE1E6;
  }

  p,
  ol {
    color: #2E2A39BF;
  }
}

.use {
  font-family: 'Nunito', sans-serif;

  .container {
    border-top: 10px dashed #5CE1E6;
    border-bottom: 10px dashed #5CE1E6;

    .custom-list {
      list-style-type: none;
      padding: 0;
    }

    h2 {
      color: #ebbe0f;
      font-weight: bold;
    }

    h4 {
      color: #4ebfc3;
      font-weight: bold;
    }

    ul {
      color: #2E2A39BF;
    }
  }
}

.video {
  h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #5CE1E6;
  }

  .video-container {
    border-radius: 20px;
    border-top: 10px dashed #5CE1E6;
    border-right: 10px dashed #5CE1E6;
    border-left: 10px dashed #5CE1E6;
    position: relative;
    padding-bottom: 40%;
    height: 0;
    overflow: hidden;
  }

  .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .faq {
    padding: 0 !important;
    background-color: transparent;
  }

  .about-us {
    h1 {
      font-size: 40px;
    }
  }

  .home-background {
    height: 50vh;
  }

  .logo {
    margin-top: 100px;
  }
}
