<div class="home-background">
  <img src="assets/images/logo copy.svg">
</div>
<div class="preorder-container">
  <span class="sub-title">Zeit für einen harmonischen Familienalltag.</span>

  <div class="facts">
    <span>Routinen und ein strukturierter Tagesablauf sind das
          A und O für mehr Harmonie in der Familie!
          Routime ist die erste smarte Kinderwanduhr, die spielerisch den
          Alltag erleichtert.
    </span>
    <span>Unser Alltag ist oft vollgestopft mit Terminen, Aufgaben und Verpflichtungen. Routime
          ist die erste smarte Wanduhr, die der gesamten Familie hilft, den Tagesablauf
          entspannter wahrzunehmen. Mit Routime werdet ihr einfach daran erinnert, was als
          Nächstes ansteht. So kann sichergestellt werden, dass der vorgenommene optimale
          Plan eingehalten wird. Und die Kinder lernen Selbstständigkeit in den
          Routineaktivitäten.
    </span>
  </div>
<!--  <div class="preorder-button">Vorbestellungen jetzt möglich!-->
<!--    Sichere dir deine Routime Wanduhr und erleichtere deinen Tagesablauf</div>-->
</div>


<div class="product">
  <img class="product-img" src="assets/images/logo.svg" alt="">
  <div class="product-info">
      <span class="product-title">Product Title</span>
      <span class="product-price">$140 EUR</span>
      <span class="product-price">Options</span>
      <div class="products">
        <div>Red</div>
        <div>Blue</div>
        <div>Black</div>
        <div>White</div>
      </div>
      <div class="product-price">any sale or fact</div>
      <button class="buy-button">Buy Now!</button>
      <p class="product-description"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi culpa explicabo impedit ipsam, maxime perferendis quidem voluptatibus! Ad at, beatae commodi est expedita iusto nihil obcaecati velit voluptatibus voluptatum.</span><span>Architecto aut, cupiditate delectus ducimus eaque fugiat hic iste iure, labore laudantium maxime nihil nostrum numquam perspiciatis provident, quaerat quasi quisquam tempore vitae voluptatibus? Aperiam harum nam qui temporibus voluptates?</span><span>Alias aspernatur, consequatur cum esse est, excepturi ipsum nihil non quae sapiente ullam vero vitae? Asperiores assumenda, autem commodi deserunt dolorum eum ex hic inventore mollitia officiis possimus similique, tempora.</span></p>
  </div>
</div>



<app-about-us></app-about-us>
<br>
<app-faq></app-faq>
<br>

<app-contact-us></app-contact-us>
<br>
