<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <img src="assets/images/Produkt1.jpg" class="img-fluid" alt="Product 1">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <img src="assets/images/Produkt2.jpg" class="img-fluid" alt="Product 2">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <img src="assets/images/Produkt3.jpg" class="img-fluid" alt="Product 3">
        </div>
    </div>
</div>