<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-5">
            <h1>Impressum</h1>
            <h5 class="mt-4">Routime UG (haftungsbeschränkt)</h5>
            <h5>Seerosenweg 42<br>65201 Wiesbaden</h5>
            <br>
            <h5>E-Mail: <a href="mailto:info@routime.de">info@routime.de</a></h5>
            <h5>Vertreten durch die Geschäftsführerin: Teuta Avdyli</h5>
            <h2 class="mt-5">Datenschutzerklärung</h2>
            <p class="mt-3"> Wir nehmen den Schutz Ihrer personenbezogenen Daten sehr ernst und halten uns an die
                geltenden Datenschutzgesetze, insbesondere an die EU-Datenschutzgrundverordnung (DS-
                GVO) und das Bundesdatenschutzgesetz (BDSG). Nachfolgend informieren wir Sie über die
                Verarbeitung Ihrer Daten durch uns.
            </p>
            <ol>
                <li>
                    Verantwortliche im Sinne der DS-GVO und anderer nationaler Datenschutzgesetze
                    der Mitgliedsstaaten sowie sonstiger datenschutzrechtlicher Bestimmungen ist die im
                    Impressum genannte Geschäftsführerin.
                </li>
                <br>
                <li>
                    Erfassung und Speicherung Ihrer Daten
                    <p>Beim Besuch unserer Webseite werden folgende Daten von Ihnen erfasst:</p>
                    <ul>
                        <li>IP-Adresse</li>
                        <li>Datum und Uhrzeit des Zugriffs</li>
                        <li>
                            Name und URL der abgerufenen Datei
                        </li>
                        <li>Webseite, von der aus der Zugriff erfolgt (Referrer-URL)</li>
                        <li>Verwendeter Browser und ggf. das Betriebssystem Ihres Rechners sowie der Name
                            Ihres Access-Providers</li>
                    </ul>
                    <p>Diese Daten werden temporär gespeichert und anschließend gelöscht. Eine
                        darüberhinausgehende Verarbeitung Ihrer Daten erfolgt nicht. Sofern Sie sich auf unserer
                        Webseite registrieren, werden Ihre angegebenen Daten (E-Mail-Adresse) zur Übersendung
                        von Benachrichtigungen verwendet. Die Speicherung Ihrer Daten erfolgt aufgrund Ihrer
                        Einwilligung gemäß Art. 6 Abs. 1 lit. a DS-GVO.</p>
                </li>
                <li>
                    Übermittlung an Dritte
                    <p>Eine Übermittlung Ihrer Daten an Dritte erfolgt nicht, es sei denn, wir sind hierzu
                        gesetzlich verpflichtet oder Sie haben vorab eingewilligt.
                    </p>
                </li>
                <li>
                    Löschung Ihrer Daten
                    <p>Ihre Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung
                        nicht mehr erforderlich sind. Im Falle der Speicherung Ihrer Daten zur Übersendung
                        von Benachrichtigungen ist dies der Fall, wenn Sie Ihre Einwilligung widerrufen oder
                        die Kenntnis dieser Daten für den Zweck ihrer Verarbeitung nicht mehr erforderlich
                        ist.</p>
                </li>
                <li>Ihre Rechte
                    <p>Sie haben das Recht auf Auskunft über Ihre bei uns gespeicherten personenbezogenen
                        Daten, deren Herkunft und Empfänger sowie den Zweck der Datenverarbeitung. Sie
                        haben das Recht auf Berichtigung, Löschung oder Einschränkung der Verarbeitung
                        Ihrer Daten. Sie haben das Recht auf Datenübertragbarkeit, d.h. Sie können verlangen,
                        dass Ihnen Ihre Daten in einem strukturierten, gängigen und maschinenlesbaren
                        Format zur Verfügung gestellt werden. Sie haben das Recht auf Widerspruch gegen
                        die Verarbeitung Ihrer Daten.</p>
                    <br>
                    <p>
                        Zudem haben Sie das Recht, eine Beschwerde bei einer Aufsichtsbehörde einzureichen, wenn
                        Sie der Meinung sind, dass die Verarbeitung Ihrer personenbezogenen Daten gegen geltendes
                        Datenschutzrecht verstößt.
                    </p>
                </li>
                <li>
                    Verwendung von Cookies
                    <p>Unsere Webseite verwendet Cookies. Hierbei handelt es sich um kleine Textdateien,
                        die auf Ihrem Endgerät gespeichert werden. Cookies dienen dazu, unser Angebot
                        nutzerfreundlicher, effektiver und sicherer zu machen. Die meisten der von uns
                        verwendeten Cookies sind so genannte „Session-Cookies“. Sie werden nach Ende
                        Ihres Besuchs automatisch gelöscht. Andere Cookies bleiben auf Ihrem Endgerät
                        gespeichert, bis Sie diese löschen. Diese Cookies ermöglichen es uns, Ihren Browser
                        beim nächsten Besuch wiederzuerkennen. Sie können Ihren Browser so einstellen,
                        dass Sie über das Setzen von Cookies informiert werden und Cookies nur im
                        Einzelfall erlauben, die Annahme von Cookies für bestimmte Fälle oder generell
                        ausschließen sowie das automatische Löschen der Cookies beim Schließen des
                        Browsers aktivieren. Bei der Deaktivierung von Cookies kann die Funktionalität
                        unserer Webseite eingeschränkt sein.</p>
                </li>
                <li>Änderung unserer Datenschutzerklärung
                    <p>
                        Wir behalten uns vor, diese Datenschutzerklärung anzupassen, um sie an geänderte
                        Rechtslagen, oder bei Änderungen des Datenschutzbeauftragten, anzupassen. Bitte
                        informieren Sie sich regelmäßig über den Inhalt unserer Datenschutzerklärung.
                    </p>
                </li>
                <li>Kontakt
                    <p>Bei Fragen zur Verarbeitung Ihrer personenbezogenen Daten können Sie sich jederzeit
                        an uns wenden. Die Kontaktdaten finden Sie im Impressum.</p>
                </li>
                <li>
                    Verantwortliche Stelle
                    <p>Die verantwortliche Stelle für die Datenverarbeitung auf unserer Webseite ist die im
                        Impressum genannte Geschäftsführerin.</p>
                </li>
                <li>
                    Datenschutzbeauftragter
                    <p>Die Datenschutzbeauftragte ist die im Impressum genannte Geschäftsführerin. Diese
                        steht Ihnen für Auskünfte und Anfragen zum Thema Datenschutz zur Verfügung und
                        kann unter der im Impressum genannten E-Mail-Adresse erreicht werden.</p>
                </li>
            </ol>
        </div>
    </div>
</div>