.low-brightnes{
  filter: brightness(0.5);
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #B3FFFF;
  padding: 15px;
  color: black;
  position: sticky;
  top: 0;
  z-index: 9999;

  svg {
    cursor: pointer;
  }

  .title {
    font-size: 32px;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
  }

}

footer {
  font-family: 'Nunito', sans-serif;
  border-top: 1px solid #e0d7cd;
  border-radius: 10px;
  padding: 15px;
  color: #2E2A39;
  text-align: center;
  background-color: #e0d7cd;

}



.side-menu {
  font-family: 'Nunito', sans-serif;
  color: #2E2A39;
  font-size: 14px;
  width: 250px;
  position: fixed;
  top: 75px;
  left: -250px;
  background-color: #F9F4EA;
  height: 100%;
  transition: left 0.2s;
  z-index: 99999;
  filter: brightness(1) !important;



  .inner-list{
    height: 100%;
    background: #F9F4EA;
    width: 0;
  }
  .opened-inner-list{
    width: 350px !important;
  }

}

.menu-toggle {
  position: fixed;
  top: 10px;
  left: 10px;
  cursor: pointer;
  z-index: 1;
}

.side-menu a {
  padding: 15px 35px;
  text-decoration: none;
  font-size: 20px;
  color: black;

  display: block;
  transition: 0.2s;
}

.side-menu a:hover {
  background-color: #FFDE59;
  color: #38abaf;
}

.close-button {
  cursor: pointer;
  color: white;
}

.open {
  left: 0;
  content: "";
  top: 100%;
  height: 100vh;
  width: 100%;
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  filter: brightness(0.5);
}



