<div class="container">
    <h2 class="text-right pt-4">About Us</h2>

    <div class="background-img-container">
        <div class="absolute-container">
            We believe that structure is important in everyday life and have Routime as one Tool developed to help you
            and your family. Our products are made in Germany and stand for quality and sustainability.
        </div>
    </div>

    <div class="card p-4 mt-4">
        <div class="card-body d-flex flex-column flex-md-row">
            <img src="" alt="" class="flex-shrink-0 mr-md-4 mb-3 mb-md-0" style="width: 500px; height: 350px;">
            <div class="ms-4">
                <h3>Who Are We</h3>
                <p>
                    Hallo, ich bin Teuta Avdyli, die Gründerin von Routime. Ich glaube fest daran, dass Struktur im
                    Alltag eine wichtige Grundlage für ein ausgeglichenes Leben ist. Mit Routime habe ich ein Werkzeug
                    entwickelt, das dir und deiner Familie dabei hilft, den Alltag besser zu organisieren und zu
                    strukturieren. Als Mutter von zwei Kindern weiß ich aus eigener Erfahrung, wie herausfordernd und
                    stressig der Familienalltag sein kann. Diese Herausforderungen haben mich dazu motiviert, Routime zu
                    schaffen. Durch die Implementierung von Routime in meinem eigenen Zuhause konnte ich feststellen,
                    dass unser Familienleben dadurch strukturierter und harmonischer geworden ist. Zum Beispiel dehnen
                    wir uns jetzt als Familie immer nach dem Aufstehen. Es ist ein kleiner, aber wichtiger Schritt in
                    Richtung eines gesünderen und glücklicheren Lebens. Letztendlich besteht unser Leben aus
                    Gewohnheiten, und es liegt in unserer eigenen Verantwortung, welche Gewohnheiten wir in unser Leben
                    und das unserer Familie integrieren möchten. Mit Routime möchte ich euch ein Werkzeug an die Hand
                    geben, das den Aufbau positiver Gewohnheiten fördert und den Alltag erleichtert.
                </p>
            </div>
        </div>
    </div>

    <div class="card p-4 mt-4">
        <div class="card-body d-flex flex-column flex-md-row">
            <div>
                <h3>Who Are We</h3>
                <p>
                    Hallo, ich bin Arber Avdulji, Mitgründer und CTO von Routime. Als Student im technischen Bereich war
                    ich immer fasziniert von der Möglichkeit, das Leben durch innovative Technologien einfacher zu
                    gestalten. Als ich sah, wie stressig der Alltag meiner Schwester Teuta mit ihrer Familie sein kann,
                    wusste ich, dass wir gemeinsam etwas Wertvolles schaffen können. Eines meiner Hauptziele war es, ein
                    sicheres Produkt für die ganze Familie zu entwickeln. Technologie kann ein zweischneidiges Schwert
                    sein, und Sicherheit ist für uns bei Routime von höchster Bedeutung. Deshalb habe ich darauf
                    geachtet, dass unsere smarte Wanduhr keine Aufnahmefunktionen hat oder sensiblen Daten sammelt. Ich
                    habe die Technologie hinter Routime entwickelt, sowohl die Hardware als auch die Software, um
                    sicherzustellen, dass sie nicht nur intuitiv, sondern auch zuverlässig und sicher ist. Es galt, eine
                    Lösung zu finden, die den Familienalltag wirklich erleichtert und dabei auch noch Spaß macht. Durch
                    die Zusammenarbeit mit Teuta konnte ich sicherstellen, dass Routime technisch einwandfrei
                    funktioniert und genau den Bedürfnissen einer Familie entspricht. Ich freue mich darauf, Routime
                    weiterzuentwickeln und bin gespannt auf das Feedback, das uns dabei hilft, unser Produkt stetig zu
                    verbessern.
                </p>
            </div>
            <img src="" alt="" class="flex-shrink-0 ml-md-4 mt-3 mt-md-0" style="width: 300px; height: 300px;">
        </div>
    </div>

    <div>
        <app-faq></app-faq>
    </div>
</div>
