/* You can add global styles to this file, and also import other style files */
body, html{
    margin: 0;
    padding: 0;
    background-color: #FFFFFF !important;
    font-family: 'Nunito', sans-serif;
}
.no-scroll{
  overflow: hidden !important;
}
.show{
  transform: translateX(0) !important;
  opacity: 1 !important;
}
.hide{
  opacity: 0;
  //transform: translateX(10px);
  transition: 550ms;
}
